@using Petanque.Web.Extensions
@model Petanque.Web.Models.CompetitionDto
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Créer competition";
}
<div>
    @using (Html.BeginForm("Create", "Competition", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <div class="control-group">
                @Html.LabelFor(x => x.Nom, new { @class = "control-label" })
                <div class="controls">@Html.TextBoxFor(x => x.Nom, new { @class = "input-xlarge" })</div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Price, new { @class = "control-label" })
                <div class="controls">@Html.TextBoxFor(x => x.Price, new { @class = "input-xlarge" })</div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.BetByTeam, new { @class = "control-label" })
                <div class="controls">@Html.TextBoxFor(x => x.BetByTeam, new { @class = "input-xlarge" })</div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.PercentPotForMainCompetion, new { @class = "control-label" })
                <div class="controls">@Html.TextBoxFor(x => x.PercentPotForMainCompetion, new { @class = "input-xlarge" })</div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn">
                Ajouter</button></div>
    }
</div>
