@using System.Globalization
@model Petanque.Model.Competition.Node
@{
    bool isRoot = Model.Level == 0;
    bool isTop = isRoot || (Model == Model.ParentNode.TopNode);


    var level = (Model.DepthOfTheTree - Model.Level + 1).ToString(CultureInfo.InvariantCulture);
    string cssWrap = string.Format("round{0}-{1}wrap", level, isTop ? "top" : "bottom");
    string cssContent = string.Format("round{0}-{1}", level, isTop ? "top" : "bottom");

    if (isRoot)
    {
        cssContent += " winner" + level;
    }
    
    if (isRoot)
    {
        cssWrap = string.Format("tournament{0}-wrap", (int)Math.Pow(2, Model.DepthOfTheTree));
    }
}
@if (Model.TopNode != null && Model.BottomNode != null)
{
    <div class="@cssWrap">
        <div class="@cssContent">
            @Html.Partial("PartialTeam", Model)
        </div>
        @if (Model.TopNode != null)
        {
            @Html.Partial("PartialNode", Model.TopNode)
        }
        @if (Model.BottomNode != null)
        {
            @Html.Partial("PartialNode", Model.BottomNode)
        }
    </div>
}
else
{
    <div class="@cssContent">
        @Html.Partial("PartialTeam", Model)
    </div>
}
