@model Petanque.Web.Models.TeamDto
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Editer équipe";
}
<div>
    @using (Html.BeginForm("Edit", "Team", FormMethod.Post, new {@class = "well"}))
    {
        <fieldset>
            <div>
                @Html.LabelFor(x => x.Number)
                @Html.DisplayFor(x => x.Number)
                @Html.HiddenFor(x => x.Number)
            </div>
            <div>
                @Html.LabelFor(x => Model.Nom)
                @Html.TextBoxFor(x => Model.Nom)
            </div>
            <div>
                @Html.HiddenFor(x => x.CompetitionId)
            </div>
        </fieldset>
        <p>
            <input type="submit" value="Save" />
        </p>
    }
</div>
